@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');


/* ESTILOS GLOBALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  color: #012C3D;
}

a {
  text-decoration: none;
}

body {
  background-color: #F7F8F3;
  color: #012C3D;
}

.App-Container {
  max-width: 1200px;
  margin: 0 auto;
}


/* HEADER Y NAVBAR*/

.headerContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.NavbarContainer {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  background-color: #F7F8F3;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

/* Ajustar transicion!*/

.Navbar-Fixed {  
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  background-color: #F7F8F3;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  padding: 10px;
  background-color: #F7F8F3;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
 */
}

.NavbarContent {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
}

/* Logo*/

.logo {
  max-width: 200px;
  display: flex;
  width: 100%;
  align-content: center;
  
}

.logo h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-left: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  color: #012C3D;

}

/* Nav Menu*/

.nav .navMenu {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navItem {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 35px;
  cursor: pointer;
}

.navItem:hover {
  color: #012c3d73;
}

.navCategories {
  display: none;
  float: left;
  overflow: hidden;
  position: absolute;
  background-color: #F7F8F3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .navCategories {
  display: block;
}

.navCategories .navItem {
  color: #012C3D;
}

.navCategories .navItem:hover {
  color: #012C3D73;
}

.active {
  border-bottom: 1px solid #012C3D;
  padding-bottom: 5px;
  border-top: 1px solid #012C3D;
  padding-top: 4px;
}

/* Widget Carrito */

.cartIcon {
  display: flex;
  align-items: center;
  height: 100%;
  align-content: center;
  padding: 0 20px
}

.cartIcon img {
  width: 32px;
}

.cartNotification {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #012C3D;
  color: #f7f8f3;
  padding: 7px;
  border-radius: 50%;
  margin-left: 10px;

}


/* HERO*/

.banner-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  bottom: 0;
}

.title-greeting {
  margin: 20px;
  padding: 20px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

.p-greeting {
  font-size: 1.8rem;
  padding: 10px 80px;
  line-height: 1.4;
  text-align: center;
}

/* CONTAINER LIST Y ITEMS */

.ItemListContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  margin-top: 35px;
  padding: 20px;
}

.loadingMessage {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.ItemList {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 30rem;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin: 20px;
  background-color: #F7F8F3;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}  

.cardImageContainer {
  display: flex;
  flex: 1;
  overflow: hidden;

}

.cardImage {
  width: 100%;
} 

.cardInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px 0;
}

.cardName {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 10px;
}

.cardName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cardPrice {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0;
}


/* ITEM COUNT */

.ItemCountContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
 .itemCount {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #012C3D;
  padding: 8px;
}

.ItemCountContainer h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
}

.ItemCountContainer p {
  font-size: 1rem;
}

.itemCount button {
  width: 25px;
  height: 25px;
  font-size: 1.3rem;
  font-weight: bold;
}

.itemCount label {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.8rem;
  font-weight: bold;
} 

/* ITEM DETAILS*/

.containerDetail {
  display: flex;
  flex: 1;
  height: 100vh;
  margin-top: 35px;
  padding: 20px;
}

.itemDetailContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
}

.itemDetailImageContainer {
  display: flex;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.itemDetailImage {
  width: 100;
}

.itemPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemDetailNombre {
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 10px;
}
.itemDetailPrecio {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.itemTransaction {
  display: flex;
  flex-direction: column;
}

.btn-AddToCart {
  margin-top: 50px;
  width: 100%;
  height: 38px;
  background-color: #012C3D;
  color: #F7F8F3;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-AddToCart:hover {
  background-color: #012c3dea;
}

.itemFeatures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}

.featuresTitle {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}

.itemFeatures p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 20px;
}

.p-medida {
  
  margin: -15px 0;
}